/*

white = #f4fee2;
peach = #fcf5c7;
accent green = #1ebc7a;
light black for copy = #302f2a;
black fr headings = #1c1c1c;

*/

* {
    box-sizing: border-box;
}

body {
    background: #fcf5c7;
    font-size: 1rem;
    font-family: 'Nunito', sans-serif;
}

main {
    height: 90vh;
    width: 100%;
    padding: 24px;
}

.flex-col {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.flex-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

/* ELEMENT STYLES */

h1 {
    margin: 0 0 2rem 0;
    padding: 0;
    font-size: 5rem;
    font-weight: 900;
}

input[type=text] {
    background: #f4fee2;
    border: 2px solid #302f2a;
    font-size: 1rem;
    padding: 0.5rem 1rem;
    margin: 1rem 0.5rem;
}

button {
    font-family: 'Nunito', sans-serif;
    font-weight: 400;
    margin: 1rem;
    min-height: 4rem;
    min-width: 70%;
    background: #1ebc7a;
    color: #f4fee2;
    text-shadow: 2px 2px 2px rgba(48, 47, 42, 0.8);
    border: 2px solid #302f2a;
    border-radius: 4px;
    box-shadow: 2px 2px 4px 2px rgba(48, 47, 42, 0.2);
    font-size: 1.5rem;
}

button:hover {
    background: #1c1c1c;
}

button:active {
    background: #1c1c1c;
    transform: translate(2px, 1px);
}

button:focus {
    background: #1c1c1c;
}

select {
    font-size: 1rem;
    padding: 0.5rem 1rem;
    margin: 0.5rem 0.5rem;
    height: 2rem;
}

/* TABLE STYLES */

.table {
    min-width: 80vw;
}

table {
    min-width: 80%;
    border: 2px solid #1c1c1c;
    border-collapse: collapse;
}

th {
    margin: 0;
    background: #1ebc7a;
    border-bottom: 1px solid #1c1c1c;
}

td {
    margin: 0;
    border-bottom: 1px solid #1c1c1c;
}

tr {
    margin: 0;
    text-align: center;
}